@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
    font-family: "Entrusco";
    src: url("/fonts/entrusco.ttf");
    font-weight: 400;

  }

// Bootstrap
@import "~bootstrap/scss/bootstrap";


* {
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none !important;

  &:hover {
    color: inherit;
    text-decoration: none !important;
  }
}

.bg-black {
  background-color: #1C1C1C;
  color: #fff;
}

.text-orange {
    color: #DF4C1B;
}

.section {
    min-height: 100vh;
}

.main-title {
    font-weight: 800;
    font-size: 80px;
    font-family: 'Entrusco' !important;
    letter-spacing: 5px;
}


.main-title-name {
    font-weight: 800;
    font-size: 120px;
    font-family: 'Entrusco' !important;
    letter-spacing: 5px;
}

.main-text{
    margin-top: 10vh;
    font-size: 20px;
}

.btn-video {
    color: #fff;
    text-transform: uppercase;
    background-color: #DF4C1B;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 1.5em;

    &:hover {
        color: #DF4C1B;
        background-color: #fff;
    }
}


.secondary-title {
    font-weight: 800;
    font-size: 40px;
}

.choices-text {
    font-weight: 800;
    font-size: 30px;

    &:hover {
        color: #DF4C1B;
        cursor: pointer;
        .choices-text, span {
            color: #fff
        }
    }
}