@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "Entrusco";
  src: url("/fonts/entrusco.ttf");
  font-weight: 400;
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.videos-container {
  overflow: scroll !important;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pages-container {
  overflow: scroll !important;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.videos-container::-webkit-scrollbar {
  display: none;
}

.pages-container::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none !important;

  &:hover {
    color: inherit;
    text-decoration: none !important;
  }
}

.bg-black {
  background-color: #121212 !important;
  color: #fff;
}

.text-orange {
  color: #df4c1b;
}

.section {
  min-height: 100vh;
}

.main-title {
  font-weight: 800;
  font-size: 80px;
  font-family: "Entrusco" !important;
  letter-spacing: 1px;
}

.sub-title-intro {
  font-weight: 800;
  font-size: 60px;
  font-family: "Entrusco" !important;
  letter-spacing: 2px;
}

.title-introducao {
  font-weight: 800;
  font-size: 120px;
  font-family: "Entrusco" !important;
  letter-spacing: 2px;
}

.main-title-name {
  font-weight: 900;
  font-size: 200px;
  font-family: "Entrusco" !important;
  letter-spacing: 1px;
}

.main-text {
  margin-top: 10vh;
  font-size: 1.3rem;
}

.videos-text {
  font-weight: 800;
  font-size: 60px;
  font-family: "Entrusco" !important;
  letter-spacing: 2px;
}

.btn-video {
  color: #fff;
  text-transform: uppercase;
  background-color: #df4c1b;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 1.5em;

  &:hover {
    color: #df4c1b;
    background-color: #fff;
  }
}

.secondary-title {
  font-weight: 800;
  font-size: 40px;
}

.choices-text {
  font-weight: 800;
  font-size: 30px;

  &:hover {
    color: #df4c1b;
    cursor: pointer;
    .choices-text,
    span {
      color: #fff;
    }
  }
}

.img-rascunho {
  height: 300px;
  width: 500px;

  //   &:hover {
  //     transform: scale(1.2);
  //     transition: 500ms;
  //   }
}

.img-fotos {
  height: 420px;
  width: 280px;

  //   &:hover {
  //     transform: scale(1.2);
  //     transition: 500ms;
  //   }
}

.dots-container {
  position: fixed;
  top: 40%;
  right: 0px;
  padding: 20px;
  width: fit-content;
}

.dot {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;

  &:hover {
    background-color: #df4c1b;
    cursor: pointer;
  }
}

.iframe-video {
  width: 60vw;
  height: 30vw;
}

.dot-active {
  background-color: #df4c1b;
}

.mobile-scroll {
  display: none !important;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 60px;
  }

  .main-title-name {
    font-size: 80px;
  }

  .secondary-title {
    font-size: 25px;
  }

  .title-section {
    font-size: 2rem !important;
  }

  .sub-title-intro {
    font-size: 40px;
  }

  .title-introducao {
    font-size: 80px;
  }

  .main-text {
    margin-top: 5vh;
    font-size: 20px;
    text-align: justify !important;
  }

  .dots-container {
    display: none;
  }

  .dot {
    display: none;
  }

  .mobile-scroll {
    display: flex !important;
  }

  .iframe-video {
    width: 80vw;
    height: 50vw;
  }

  // .videos-container {
  //   height: 45rem;
  // }
}
